<h2>Register</h2>
<form action="/register" method="POST">
    <label for="">Nombre</label>
    <input type="text" name="firstName" id="firstName">
    <label for="">Apellido</label>
    <input type="text" name="lastName" id="lastName">
    <label for="">E-Mail</label>
    <input type="text" name="eMail" id="eMail">
    <label for="password">Password</label>
    <input type="password" name="password" id="password">
</form>            